# Entorno virtual
venv/

# Datos y modelos (se montan como volúmenes)
data/raw/
data/processed/
models/
mlruns/

# Jupyter
notebooks/
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Git
.git/
.gitignore

# Variables de entorno
.env

# OS
.DS_Store
Thumbs.db